logging {
  level  = "info"
  format = "logfmt"
}

otelcol.receiver.otlp "default" {
  http {
    endpoint = "localhost:4318"
  }
  grpc {}

  output {
    logs = [otelcol.processor.batch.default.input]

  }
}

otelcol.processor.batch "default" {
  output {
    logs = [otelcol.exporter.otlphttp.parseable.input]
  }
}

otelcol.exporter.otlphttp "parseable" {
  client {
    endpoint = "http://localhost:8000"
    headers = {
      "Authorization" = "Basic YWRtaW46YWRtaW4=",
      "Content-Type" = "application/json",
      "x-p-log-source" = "otel",
      "X-P-Stream" = "testotel",
    }
  }
  
  encoding = "json"
}
