logging {
  level  = "info"
  format = "logfmt"
}

otelcol.receiver.otlp "default" {
  http {
    endpoint = "localhost:4318"
  }

  output {
    logs    = [otelcol.processor.batch.default.input]
  }
}

otelcol.processor.batch "default" {
  output {
    logs    = [otelcol.exporter.otlphttp.parseable.input]
  }
}

otelcol.exporter.otlphttp "parseable" {
    client {
        endpoint = "http://localhost:3004"
        encoding = "json"
    }
    
}